<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="header.css">
    <title>Pesca</title>
</head>
<body>
    <header>
        <div class="logo-container">
          <img src="Image/logoEmpresa.png" alt="Logo Empresa" class="logo">
        </div>
        <div class="titulo">
            <h1>EL RINCON DEL PESCADOR</h1>
        </div>
        <nav>
            <ul>      
                <li><a routerLink="/inicio" routerLinkActive="active">INICIO</a></li>
                <li><a routerLink="/catalogo" routerLinkActive="active">CATALOGO</a></li>
                <li><a routerLink="/cesta" routerLinkActive="active">CESTA</a></li>
                <li><a routerLink="/contacto" routerLinkActive="active">CONTACTA</a></li>
            </ul>
        </nav>
    </header>
    <script src="header.ts"></script>
</body>
</html>
